@use "../../styles/variables.module";

.scene {
  --size: 250px;
  --opacity: 0.8;

  width: var(--size);
  height: var(--size);
  perspective: 500px;
  user-select: none;

  .cube {
    width: var(--size);
    height: var(--size);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(0px - #{var(--size)} / 2));
  }

  .cubeFace {
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px solid variables.$black;
    line-height: var(--size);
    font-size: 2rem;
    font-weight: bold;
    color: variables.$white;
    text-align: center;
  }

  .cubeFaceFront {
    background-color: rgba(variables.$red, var(--opacity));
    transform: rotateY(0deg) translateZ(calc(#{var(--size)} / 2));
  }

  .cubeFaceBack {
    background-color: rgba(variables.$orange, var(--opacity));
    transform: rotateY(180deg) translateZ(calc(#{var(--size)} / 2));
  }

  .cubeFaceLeft {
    background-color: rgba(variables.$yellow, var(--opacity));
    transform: rotateY(-90deg) translateZ(calc(#{var(--size)} / 2));
  }

  .cubeFaceRight {
    background-color: rgba(variables.$blue, var(--opacity));
    transform: rotateY(90deg) translateZ(calc(#{var(--size)} / 2));
  }

  .cubeFaceTop {
    background-color: rgba(variables.$purple, var(--opacity));
    transform: rotateX(90deg) translateZ(calc(#{var(--size)} / 2));
  }

  .cubeFaceBottom {
    background-color: rgba(variables.$green, var(--opacity));
    transform: rotateX(-90deg) translateZ(calc(#{var(--size)} / 2));
  }

  .spinning {
    animation: spin 10s infinite ease-in-out;
  }

  @keyframes spin {
    0% {
      transform: translateZ(calc(0px - #{var(--size)} / 2)) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translateZ(calc(0px - #{var(--size)} / 2)) rotateX(360deg) rotateY(360deg);
    }
  }
}
