//Colors
$primary-color: #000000;
$secondary-color: #000000;
$dark-background: #1d2226;
$white: #ffffff;
$grey: #e8e8e8;
$black: #000000;

$red: rgba(255, 0, 0, 0.75);
$orange: rgba(255, 128, 0, 0.75);
$yellow: rgba(255, 255, 0, 0.75);
$blue: rgba(0, 0, 255, 0.75);
$green: rgba(0, 255, 0, 0.75);
$purple: rgba(128, 0, 255, 0.75);
