//Colors
$primary-color: #000000;
$secondary-color: #000000;
$dark-background: #1D2226;
$white: #FFFFFF;
$grey: #E8E8E8;
$black: #000000;

$red: #FF0000FF;
$orange: #FF8000FF;
$yellow: #FFFF00FF;
$blue: #0000FFFF;
$green: #00FF00FF;
$purple: #8000FFFF;
