@use "../../styles/variables.module";

.canvas {
  --canvasHeight: 500px;
  --canvasWidth: 100%;

  width: var(--canvasWidth);
  height: var(--canvasHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.background {
  background-color: variables.$grey;
}
