@use "../../styles/variables.module";

:root {
  --canvasHeight: 500px;
  --canvasWidth: 500px;
}

.canvas {
  width: var(--canvasWidth);
  height: var(--canvasHeight);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.background {
  background-color: variables.$grey;
}
